<app-navbar></app-navbar>

<div id="cadastro">
    <h2>Cadastro de Funcionários</h2>
    <button mat-raised-button color="primary" [routerLink]="['/funcionarios']">Voltar para listagem</button>

    <mat-card>
        <p class="text-muted title">Preencha os campos a seguir para salvar um funcionário.</p>

        <form class="cadastro-form" [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
            <div fxLayout="row wrap" fxFill>
                <div fxFlex="100" fxFlex.gt-sm="33">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" name="nome" formControlName="nome">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33">
                    <mat-form-field class="example-full-width">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput type="text" name="sobrenome" formControlName="sobrenome">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33">
                    <mat-form-field class="example-full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="email" name="email" formControlName="email">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33">
                    <mat-form-field class="example-full-width">
                        <mat-label>NIS / PIS</mat-label>
                        <input matInput type="text" name="pis" formControlName="pis">
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33">
                    <mat-form-field>
                        <mat-label>Nível de acesso</mat-label>
                        <mat-select formControlName="nivelAcesso" [disabled]="nivelAcessoUsuarioLogado != NivelAcessoEnum.ADMIN">
                            <mat-option [value]="NivelAcessoEnum.NORMAL">Normal</mat-option>
                            <mat-option [value]="NivelAcessoEnum.ADMIN">Admin</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="center-end">
                <button mat-raised-button color="accent" type="submit" [disabled]="isSubmitted">Salvar</button>
            </div>

        </form>

    </mat-card>

</div>

<app-footer></app-footer>