#listagem {
    height: calc(100vh - 140px);
    padding: 0 20px;
    overflow: auto;

    h2 {
        margin-bottom: 0;
    }

    .center-between {
        margin-top: 20px;
    }

    table {
        width: 100%;
    }

    .responsive {
        max-width: 100%;
        max-height: calc(100vh - 380px);
        overflow: auto;
    }

    .mt {
        margin-top: 20px;
        display: block;
    }

    mat-paginator {
        margin-bottom: 20px;
    }

    .order, th {
        cursor: pointer;
    }

    .order-content {
        display: flex;
        align-items: center;
    }

    .order {
        font-size: 16px;
        height: 16px;
        width: 16px;
    }
}

@media screen and (max-width: 460px) {
    #listagem {
        height: calc(100vh - 200px);
        .center-between {
            display: block;
        }

        .responsive {
            max-height: calc(100vh - 450px);
        }
    }
}