<h1 mat-dialog-title>Pesquisa</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sobrenome</mat-label>
    <input matInput [(ngModel)]="data.sobrenome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>NIS/PIS</mat-label>
    <input matInput [(ngModel)]="data.pis">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data criação</mat-label>
    <input matInput [(ngModel)]="data.dataCriacao">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Pesquisar</button>
</div>