<p>
  <mat-toolbar>
    <div class="center-between">
      <a  [replaceUrl]="true" [routerLink]="['/funcionarios']"><img src="../../../assets/static/images/logo_menu.jpeg"
          alt="logo" height="35" /></a>
      <div class="menu">
        <div class="option" [routerLink]="['/funcionarios/form/profile']">
          <a>{{usuario.nome}}</a>
        </div>
        <div class="center option" (click)="sair()">
          <mat-icon>exit_to_app</mat-icon><a> Sair</a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</p>