footer {
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
    color: #969393;
    position: absolute;
    bottom: 0;

    a {
        color: #09c0ec;
        text-decoration: none;
    }

    .email {
        margin-right: 40px;
    }
}

@media screen and (max-width: 460px) {
    label {
        display: block;
    }
}